.container-nav{
    margin: 0 auto;
    list-style: none;
    font-weight: bold;
    /*margin-bottom: 10px;*/
    width: 100%;
    text-align: center;
    background-color:black;
    height:60px;
    position: fixed;
    
}

body {
	margin: 0;

	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.container {
	width: 80%;
	margin: 0 auto;
}


header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  /*float: right;*/
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: purple;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.navbar{
    margin-right: 500px;
}

#logo{
 margin:0;
 padding:0;
 margin-top: 5px;
 float: left;
 margin-left: 20%;

}